extends layout

block content
	section 
		img(src="images/aaronandalacia-1.png")
		
	|shall I stay... would it be a sin? Because I can't help falling in love with you. 
	|Like a river flows surely to the sea oh darlin so it goes somethings are meant to be..
	|so just take my hand... take my whole life too. Cause I can't help... Falling in love with you.
