extends layout

block content
  h1= title
  p Welcome to #{title}

 
  a.button(href="/auth/facebook") facebook login
  p
    a.button(href="/auth/google") google login
  p
    a.button(href="/success") Skip Social Logins