doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css")
    link(rel='stylesheet', href='/stylesheets/chatbox.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    script(src='/javascripts/chatbox.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js")
    script(src="/socketio/socket.io.js")
    script(src="/javascripts/BingSpeech.js")
    script(src="/javascripts/speechrecog.js")
    script.
        var socket = io.connect();
  body
    block content
