extends layout

block content
   
    script.
        $(document).ready(function(){
        
        socket.on('connect', function () {
        $('#chat').addClass('connected');
        });
        socket.on('messages',function(data){
        var color = _.findWhere(data.entities, { type: "color" }).entity;
        var location = _.findWhere(data.entities, { type: "location" }).entity;
    
        switch (location) {
        case "font":
        case "foreground":
        case "color":
        $("body").css("color", color);
        break;
        case "background":
        $("body").css("background-color", color);
        break;
        }
        $("#chat_div").chatbox("option", "boxManager").addMsg('system', data.topScoringIntent.intent);
        });
        socket.on("retKey",function(data){
        createAndSetupClient(data);
        });

        var box = null;
       
        if(box) {
          box.chatbox("option", "boxManager").toggleBox();
        }
        else {
          box = $("#chat_div").chatbox(
            {id:"Web_User", user:{key : "value"},title : "luis.net",
                messageSent : function(id, user, msg) {
                   
                    socket.emit('GetIntent', msg);
                    $("#chat_div").chatbox("option", "boxManager").addMsg(id, msg);
                }
            });
        }
        
        });
        getKey();

    div You can say things like: <br /> Change color to blue <br /> change background to orange
    div(id="chat")             
    input(type="button" id="startBtn" onclick="start()" value="Start Recording")
    input(type="button" id="stopBtn" onclick="stop()" value="Stop Recording")

    div(id="chat_div")
    